<table class="table">
  <thead class="table__header">
    <th class="table__header__content">Data</th>
    <th class="table__header__content">Valor</th>
    <th class="table__header__content">Destino</th>
  </thead>
  <tbody>
    <tr class="table__row" *ngFor="let transference of transferences">
      <td class="table__content">{{ transference.date | date: short }}</td>
      <td class="table__content">{{ transference.value }}</td>
      <td class="table__content">{{ transference.target }}</td>
    </tr>
  </tbody>
</table>
